# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
edr/
venv/
ENV/
env.bak/
venv.bak/
.envnew/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.png
*.jpg
*.jpeg
*.csv
*.pdf
*.log 
!assets/edr_ppl.png
!assets/leaderboard.png
!assets/benchmarks.png
!ai-research-assistant/public/sfr_logo.jpeg
uploads/
visualizations/
steering_sessions.json
backend_logs*


# LangGraph Studio
.langgraph/
.langgraph-studio/
.langgraph-studio-cache/
.langgraph_api

.claude/
uv.lock